# "Elite" C64 disassembly / "Elite DX", cc0 2018, see LICENSE.txt
# "Elite" is copyright / trademark David Braben & Ian Bell, All Rights Reserved
# <github.com/Kroc/EliteDX>
#===============================================================================

# this file is incomplete! this will, eventually, be a memory map of the C64
# as used by Elite DX during runtime

SYMBOLS {
    # force the PRG header to be included,
    # even though nothing links against it
    __PRGHEADER__:  type = import;
}
MEMORY {
    # the .PRG header consists of the load address of the program;
    # it needs to occupy two bytes in the file, but not advance the address
    PRGHEADER:  file = %O,  start = %S - 2, size = $0002;

    # what looks like some variable space is defined at $0400..$0700
    DATA_WORK:  file = "",  start = $0400,  size = $0700 - $0400;
    
    # 'low RAM' is the area below the VIC-II memory bank
    LORAM:      file = %O,  start = $0700,  size = $4000 - $0700;
    # the portion of RAM where VIC-II will get the bitmap / sprites
    VICRAM:     file = %O,  start = $4000,  size = $4000;
    # 'high RAM' is the area above the VIC-II memory bank,
    # note that because this also covers the I/O & KERNAL area,
    # attention has to be paid to avoid conflicts with I/O & ROM
    HIRAM:      file = %O,  start = $6A00,  size = $FFFF - $6A00;
}
SEGMENTS {
    # the .PRG header comes first in the file, obviously.
    # note that "c64-prg.asm" actually populates this segment
    PRGHEADER:      load = PRGHEADER;

    DATA_0700:      load = LORAM;
    DATA_FONT:      load = LORAM,   define = yes;
    DATA_0E00:      load = LORAM;
    DATA_1D00:      load = LORAM;
    CODE_1D00:      load = LORAM;

    # TODO: reserve space for bitmap / colour screens (menu & main)
    DATA_SPRITES:   load = VICRAM;

    CODE_6A00:      load = HIRAM;
    DATA_6A00:      load = HIRAM;
    HULL_TABLE:     load = HIRAM;
    HULL_DATA:      load = HIRAM;
    DATA_HUD:       load = HIRAM;
    HUD_SCRCOLOR:   load = HIRAM;
    HUD_COLORRAM:   load = HIRAM;
}