# "Elite" C64 disassembly / "Elite DX", cc0 2018, see LICENSE.txt
# "Elite" is copyright / trademark David Braben & Ian Bell, All Rights Reserved
# <github.com/Kroc/EliteDX>
#===============================================================================

FEATURES {
    STARTADDRESS:   default = $02a7;
}
SYMBOLS {
    # force the PRG header to be included,
    # even though nothing links against it
    __PRGHEADER__:  type = import;
}
MEMORY {
    # .PRG file header
    PRGHEADER:  file = %O,  start = %S - 2, size = $0002;
    # ensure that the loader code cannot over-run the BASIC vectors
    MAIN:       file = %O,  start = %S,     size = $0300 - %S,  define = yes;
    # place the BASIC vectors at the right place regardless of other code
    VECTORS:    file = %O,  start = $0300,  size = 12;
    # the fallback BASIC bootstrap for when the program is loaded
    # into the BASIC area instead of the intended load address
    BASIC:      file = %O,  start = $0801,  size = $A000 - $0801;
}
SEGMENTS {
    # the .PRG header comes first in the file, obviously.
    # note that "c64-prg.asm" actually populates this segment
    PRGHEADER:  load = PRGHEADER,                   type = ro;
    
    BOOTSTRAP:  load = MAIN,        run = BASIC,    type = ro,  define = yes;
    CODE:       load = MAIN,                        type = rw,  define = yes;
    VECTORS:    load = VECTORS,                     type = rw,  define = yes;
}
