# "Elite" C64 disassembly / "Elite DX", cc0 2018, see LICENSE.txt
# "Elite" is copyright / trademark David Braben & Ian Bell, All Rights Reserved
# <github.com/Kroc/EliteDX>
#===============================================================================

FEATURES {
    STARTADDRESS:   default = $4000;
}
SYMBOLS {
    # force the PRG header to be included,
    # even though nothing links against it 
    __PRGHEADER__:  type = import;
}
MEMORY {
    PRGHEADER:  file = %O,  start = %S - 2, size = $0002;
    MAIN:       file = %O,  start = %S,     size = $D000 - %S;
}
SEGMENTS {
    # the .PRG header comes first in the file, obviously.
    # note that "c64-prg.asm" actually populates this segment
    PRGHEADER:  load = PRGHEADER,   type = ro;
    # the already-encrypted first data-block
    DATA1:      load = MAIN,        type = ro, define = yes;
    JUNK1:      load = MAIN,        type = ro;
    # decryption routine
    CODE:       load = MAIN;
    # the already-encrypted second data-block
    DATA2:      load = MAIN,        type = ro, define = yes;
    JUNK2:      load = MAIN,        type = ro;
}
