# "Elite" C64 disassembly / "Elite DX", cc0 2018, see LICENSE.txt
# "Elite" is copyright / trademark David Braben & Ian Bell, All Rights Reserved
# <github.com/Kroc/EliteDX>
#===============================================================================

FEATURES {
    STARTADDRESS:   default = $6A00;
}
SYMBOLS {
    # force the PRG header to be included,
    # even though nothing links against it
    __PRGHEADER__:  type = import;
}
MEMORY {
    PRGHEADER:  file = %O,  start = %S - 2, size = $0002;

    # we need to cross-link the low-RAM code/data from $0700 onwards,
    # but we don't actually want to write this to any file
    LORAM:      file = "",  start = $0700,  size = $4000 - $0700;

    MAIN:       file = %O,  start = %S,     size = $FFFF - %S;
}
SEGMENTS {
    # the .PRG header comes first in the file, obviously.
    # note that "c64-prg.asm" actually populates this segment
    PRGHEADER:  load = PRGHEADER;
    
    DATA_0700:  load = LORAM;
    DATA_FONT:  load = LORAM,   align = $100,   define = yes;
    DATA_0E00:  load = LORAM;

    CODE:       load = MAIN;
    JUNK_GMA6:  load = MAIN;
}
